Tugas 2 - AI pemasaran.json
{
  "name": "Tugas 2 - AI pemasaran",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "Isi informasi dibawah ini untuk memulai proses generate gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            },
            {
              "fieldLabel": "Img URL"
            },
            {
              "fieldLabel": "Task Type"
            },
            {
              "fieldLabel": "API Keys"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "95dc81aa-ee97-46f9-befe-75e9164e3356",
      "name": "On form submission",
      "webhookId": "5187d060-fb3b-4f7d-91cc-f8c14efa1c4e"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "85dace71-bdf7-4ab5-9c33-18b843c437e5",
      "name": "Wait",
      "webhookId": "9e7542d0-efb7-45c8-8ae0-2f3bcbc6df8f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"Mengirim Image Generation Request ke KIE AI API\"].json[\"data\"][\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"API Keys\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "fa1cd127-fe98-402b-886c-0e929683e339",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "794a6c0e-fd37-4e3e-b0cd-7ed46659456c",
              "leftValue": "={{$json.data.state}}",
              "rightValue": "=success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "b93d4738-f2e8-4a1d-a8af-6944bc5138a8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json['API Keys']}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.Prompt.replace(/\\\"/g, '\\\\\\\"') }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "073adf49-5300-4704-90cf-080b81be1fd1",
      "name": "Mengirim Image Generation Request ke KIE AI API"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data?.resultJson || \"{}\");\n\nreturn [{\n  img1: result.resultUrls?.[0] || null,\n  img2: result.resultUrls?.[1] || null,\n  img3: result.resultUrls?.[2] || null,\n  img4: result.resultUrls?.[3] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -16
      ],
      "id": "c7a106df-b7d9-4060-8088-dcdfcd8f66a6",
      "name": "Format Result"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -16
      ],
      "id": "c7b6ef9a-1391-41ea-8c15-f35ed7e15a40",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -16
      ],
      "id": "d718ce4f-0b6e-41b7-ace9-41c1561f25f0",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1469962490",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -16
      ],
      "id": "4fe429f3-68dd-431b-9110-c35fb3280b56",
      "name": "Send a photo message",
      "webhookId": "889647de-2bb4-4a06-b57e-162f967ca6d6",
      "credentials": {
        "telegramApi": {
          "id": "RkJq6WMNnpTZd6o0",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke KIE AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke KIE AI API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f18a8827-1b9d-4c89-9d5b-a5d94b06313e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b811be3c639d8720160c1bf49d8fee0b9d500d2558ff7b8365e4ef04434916b"
  },
  "id": "suRHBWkTlUtGf7E1",
  "tags": []
}