Tugas 1 - AI Manajemen SDM.json
{
  "name": "Tugas 1 - AI Manajemen SDM",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76c3f960-8347-479c-babf-b74bce352be9",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "47e4a2ca-768a-428a-bb17-5786acab4478",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "4ac65480-5858-43d0-b302-d9eb3f84d850",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "f7b8f730-f905-41a4-a2d7-880acf42d328",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "1d46607f-fb67-4023-a9e3-2d221f899de5",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "d62ece00-d0fc-49d5-9387-07da3f99bb16",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "404d9660-45af-4302-8d17-e36960d17bef",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "=69ee2a7d372df4ecb1c85239",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "ff8464d3-3f15-4a19-b67b-f7ff6afb83f9",
      "name": "Create a card",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "0zmQLdoAx7L88CRv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1350515738,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0/edit#gid=1350515738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        0
      ],
      "id": "a1556630-c102-471c-8b43-06e7e5d85860",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "=69ee2f04717ecc781a4baa6e",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "0eb58db3-bb6b-40d8-ab55-211d02d640d1",
      "name": "Create a checklist",
      "credentials": {
        "trelloApi": {
          "id": "0zmQLdoAx7L88CRv",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "9b983268-ef39-4f96-99b6-7d7f90d0a2c1",
      "name": "Gabung jadi 1"
    },
    {
      "parameters": {
        "sendTo": "nanaila198@gmail.com",
        "subject": "=Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }}, \n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li> </ul>\n\nJika ada pertanyaan, reply email ini.\nSalam,\nTim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        0
      ],
      "id": "2a9834d7-8ae4-490e-bc88-2a7c71aa30a2",
      "name": "Send a message",
      "webhookId": "0ccda800-8936-4981-a535-239729b51445",
      "credentials": {
        "gmailOAuth2": {
          "id": "60llXnlA9oGeU6zc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1153704950,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14510VrKxxCf_CxO9tP5Rogy52g8o7rDPKYuKlAt24c0/edit#gid=1153704950"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f9461c9d-fb51-4436-8394-eada3d249824",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "UMzLEuMW8croTATJ",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Create a checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c569d48-29c0-425b-a000-dd5183fea131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b811be3c639d8720160c1bf49d8fee0b9d500d2558ff7b8365e4ef04434916b"
  },
  "id": "aRMDkI9KSQvIkKuC",
  "tags": []
}