Tugas 2 - AI Keuangan.json
{
  "name": "Tugas 2 - AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "40677ff7-2ea9-4e6d-aa77-f22e3216b827",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "FgIlRQB5wDYWqD0G",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "ghin9849@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ca1dd8e-bcb6-4511-b15f-8a07e016bd33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alfagift"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3821a0b3-7e66-4ce4-ab31-f2bb22b2ec8a",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "nanaila198@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gopay"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a4ae45e-8b59-4a4a-ad6e-def7aafab6a3",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "nail23086ti@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "0b003666-d1e0-4554-821b-18328bc0ce80",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a14e5f53-80a5-4890-b41c-e8d09fd29230",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4d04ee22-2da3-4bed-bf92-d4c15d9dbc1b",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp([\\d\\.]+)/)?.[1].replace(/\\.g,'')} }",
              "type": "string"
            },
            {
              "id": "a1e7f247-6565-4fcc-a513-a795f554fafd",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        192
      ],
      "id": "9e909b5b-24aa-42f4-8e4e-c5769cde46b2",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        -16
      ],
      "id": "ef5730fc-88da-4631-a76e-a277d798ba26",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MLjKJuvbySBjeJ_Dlcb85bDeyl00ibcaDuD7dL_4lY8",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MLjKJuvbySBjeJ_Dlcb85bDeyl00ibcaDuD7dL_4lY8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MLjKJuvbySBjeJ_Dlcb85bDeyl00ibcaDuD7dL_4lY8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        0
      ],
      "id": "ef598dd3-ceca-49e6-bdc6-c54860b7bfa7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4933e917-e712-4ee6-aac7-8f34d1d19d22",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "53e0afcd-fdcc-413b-9d6f-596ec707fed1",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "3c00810d-eeb4-4045-8945-4036df00e7b4",
              "name": "Nominal",
              "value": "Gopay",
              "type": "string"
            },
            {
              "id": "de096f6c-9086-4f35-9963-5b0aa299ca4d",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "3dc6845e-9f70-4124-8ac8-cfa3efa714ce",
      "name": "Gopay"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af9530c9-4d4e-47a6-9e15-6f7aa9614bca",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4f2802e8-fd30-4181-9db3-301e51fc9bd9",
              "name": "Jumlah",
              "value": "=={{ $json.textPlain?.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || '' }}",
              "type": "string"
            },
            {
              "id": "37c18f15-6418-4a67-ad9c-942a6e1bfaa9",
              "name": "Nominal",
              "value": "Alfagift",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -192
      ],
      "id": "f7783106-3dbb-4a4c-a1d3-f77121361065",
      "name": "Alfagift"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Alfagift",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gopay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gopay": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Alfagift": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72e233ce-b3b2-4730-a78e-c61fe9879f8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b811be3c639d8720160c1bf49d8fee0b9d500d2558ff7b8365e4ef04434916b"
  },
  "id": "QHT5EEzSHzt0trNf",
  "tags": []
}