Tugas 2 Pengembangan Agen AI.json
{
  "name": "Tugas 2 Pengembangan Agen AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "44ebc153-0e3a-4bec-b88f-9c0a1569d201",
      "name": "Telegram Trigger",
      "webhookId": "95a2f27c-b3bd-4222-b757-4fc66b87b4eb",
      "credentials": {
        "telegramApi": {
          "id": "RkJq6WMNnpTZd6o0",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten virtual pelatihan dari NF Academy yang siap membantu menjawab pertanyaan pengguna dengan ramah dan jelas sesuai dengan bahasa yang digunakan penanya. Tugasmu adalah menjawab pertanyaan terkait produk pelatihan, deskripsi atau uraian pelatihan, biaya atau harga pelatihan, serta tempat atau lokasi pelatihan. Berikan jawaban berdasarkan informasi yang tersedia pada tool “Get row(s) in sheet in Google Sheets” yang terhubung dengan sistem. Gunakan data dari tool tersebut sebagai sumber utama dalam memberikan informasi kepada pengguna. Jika pengguna menanyakan produk, harga, deskripsi, atau lokasi pelatihan, berikan jawaban sesuai dengan data yang tersedia pada tool tersebut. Jika kamu tidak menemukan informasi mengenai produk, harga, atau tempat pelatihan yang ditanyakan, jangan mengarang jawaban dan berikan respon: “Maaf, saya belum memiliki data yang Anda minta. Silakan lihat web nfacademy.id.” Selalu gunakan bahasa yang sopan, jelas, dan membantu. Di akhir setiap jawaban, tambahkan kalimat: “Terima kasih, Kak {{ $json.message.from.first_name }}.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c5027566-2e6b-466a-990b-65f5a0dda8ba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "8f7cc8db-dc8c-4cf9-aad9-2c757fb3b698",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cRRoivh8Sw561IK5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{$json.output}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "83cd0c05-e767-4705-acec-99750073fcf2",
      "name": "Send a text message",
      "webhookId": "089e8aaf-d343-4eb2-a1c6-3d59a8b26e90",
      "credentials": {
        "telegramApi": {
          "id": "RkJq6WMNnpTZd6o0",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d9H4b3JqGFj3kxdEd24VTCLh8JfUnWll1wwC5_sqVNY",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d9H4b3JqGFj3kxdEd24VTCLh8JfUnWll1wwC5_sqVNY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d9H4b3JqGFj3kxdEd24VTCLh8JfUnWll1wwC5_sqVNY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "3377510a-06ec-4358-9178-2fd2b098c385",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        192
      ],
      "id": "d5e09611-70e1-4532-80e8-44769d4b538d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e13134eb-513a-46b9-ba28-f16c8e07f1a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b811be3c639d8720160c1bf49d8fee0b9d500d2558ff7b8365e4ef04434916b"
  },
  "id": "sBh4eSvs0hqY8uRb",
  "tags": []
}