Tugas 6 - Approval Handler.json
{
  "name": "Tugas 6 - Approval Handler",
  "nodes": [
    {
      "parameters": {
        "path": "approval-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        96
      ],
      "id": "cbb030d9-4ff3-427e-be90-4609f47dbd7c",
      "name": "Webhook",
      "webhookId": "bad8cea8-11e8-43a3-b022-920871c1bbf5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "b544fc6c-7c12-44ba-a873-a105f3849129",
      "name": "Cari Data Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.email }}",
        "subject": "Pengajuan Cuti DITOLAK",
        "message": "=Halo,\n\nMohon maaf, pengajuan cuti Anda untuk durasi {{ $('Webhook').item.json.query.days }} hari telah DITOLAK oleh Manager.\n\nSilakan hubungi atasan Anda untuk diskusi lebih lanjut.\n\nSalam,\nHR System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "id": "b70c7d50-d672-417c-b749-b3eb3f0c94f4",
      "name": "Cuti Ditolak",
      "webhookId": "7dc111fd-6b34-4dc7-9d50-57dcb1e6ea50",
      "credentials": {
        "gmailOAuth2": {
          "id": "60llXnlA9oGeU6zc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data dari Webhook (Node paling awal)\n// Kita butuh 'days' (jumlah hari cuti) yang dikirim lewat URL\nconst webhookData = $('Webhook').first().json.query;\nconst daysRequested = parseInt(webhookData.days);\n\n// 2. Ambil data dari Google Sheets (Node sebelumnya)\n// Kita butuh 'Saldo_Cuti' saat ini\nconst currentData = items[0].json;\nconst currentBalance = parseInt(currentData.Saldo_Cuti);\n\n// 3. Hitung Saldo Baru\nconst newBalance = currentBalance - daysRequested;\n\n// 4. Return data untuk update\nreturn [{\n  json: {\n    ...currentData, // Bawa semua data lama (termasuk row_number)\n    newBalance: newBalance\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "1e61a788-5fe2-4533-bf3a-81d079afb3ad",
      "name": "Hitung Saldo Baru"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Saldo_Cuti": "={{ $json.newBalance }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "91b35c57-8ccd-4574-83b5-6e02003708af",
      "name": "Update Saldo Cuti",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2043462767,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit#gid=2043462767"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Approved"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "fc4571a8-0b4f-4b73-96c7-d6fa8f9c6cea",
      "name": "Update Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Berhasil! Pengajuan cuti telah berhasil disetujui. Saldo karyawan sudah dipotong otomatis.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        0
      ],
      "id": "1ad2898f-8cdb-401d-a7c4-69f4209ebc9f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "Pengajuan Cuti DISETUJUI",
        "message": "=Halo,\n\nKabar baik! Pengajuan cuti Anda telah DISETUJUI oleh Manager.\n\nDetail:\n- Durasi: {{ $('Webhook').item.json.query.days }} Hari\n- Status: APPROVED\n- Saldo Cuti: Telah dipotong otomatis.\n\nTerima kasih,\nHR System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "44c18675-5dad-4038-8ae7-d290f5fb2a70",
      "name": "Cuti Diterima",
      "webhookId": "c309e2c3-5b5d-4e8f-a2bb-5e18b4d6bfce",
      "credentials": {
        "gmailOAuth2": {
          "id": "60llXnlA9oGeU6zc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Konfirmasi: Pengajuan cuti telah berhasil DITOLAK. Tidak ada saldo yang dipotong.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        192
      ],
      "id": "38ca8335-50d3-4d75-a4eb-5e86ca7a8420",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2043462767,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbNzs_CUzX7qVjjU-6pXcyMucugXhXdVeneZhas9r80/edit#gid=2043462767"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        192
      ],
      "id": "7fb484d9-d7b8-4137-bc76-f942141e7e93",
      "name": "Update Logs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0utxhVKnBDpDFDX6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "940e6b8f-371a-40af-9eb3-3a50cd466d29",
              "leftValue": "={{ $json.query.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "53fa94eb-0706-409b-9c07-4ff63a8fc883",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Data Karyawan": {
      "main": [
        [
          {
            "node": "Hitung Saldo Baru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Ditolak": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hitung Saldo Baru": {
      "main": [
        [
          {
            "node": "Update Saldo Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo Cuti": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Cuti Diterima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Update Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cari Data Karyawan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5170a784-15f9-48e2-8fd3-b5aee8e7a725",
  "meta": {
    "instanceId": "7b811be3c639d8720160c1bf49d8fee0b9d500d2558ff7b8365e4ef04434916b"
  },
  "id": "OLaWijXmFPVwjfQ8",
  "tags": []
}